@import url(../ChillaxFont/css/chillax.css);

// GLOBAL
*{
  margin: 0;
  padding: 0; 
 }

//  MIXINS
 @mixin display-center {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
//  MODULES
$background-color: #10100e;
$main-color: #fff1b5;
$chillax-variable: 'Chillax-Variable'; 
$chillax-bold: 700;
$chillax-semibold: 600;
$chillax-medium: 500;

//  BODY
 body {
  background: $background-color;
 }

// Main Content
.main {
  min-height: 100vh;
  @include display-center();
  flex-direction: column;
  gap: 3rem;
  .main__title {
    color: $main-color;
    font-family: $chillax-variable;
    font-weight: $chillax-bold;
    font-size: clamp(2rem, 4vw, 6vw);
    margin: 1rem;
    text-align: center;
  }
  .main__result__container{
    @include display-center();
    background-color: transparent;
    border: 0.5rem $main-color solid;
    border-radius: 1rem;
    width: clamp(5rem, 60%, 50rem);
    height: 20rem;
    .main__result{
      margin-inline: 1rem;
      // text-align: center;
      font-family: $chillax-variable;
      font-weight: $chillax-semibold;
      color: $main-color;
      font-size: clamp(1.5rem, 3vw, 4vw);
      word-wrap: break-word;
    }
  }
  .main__game__container {
    margin: 2rem;
    @include display-center();
    flex-wrap: wrap;
    gap: 3rem;
    .main__game__list{
      list-style: none;
      .main__buttons {
        background: transparent;
        border: 0.5rem $main-color solid;
        border-radius: 50%;
        padding: 1.5rem;
        color: $main-color;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
          transform: scale(1.1);
        }
        &:active{
          transform: scale(1.0);
        }
      }
    }
  }
}
 
 